@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/*
WIDTH: 
-> Mobile = 375px
-> Desktop = 1440px

COLORS:
-> White = hsl(0, 0%, 100%)
-> Light gray = hsl(212, 45%, 89%)
-> Grayish blue = hsl(220, 15%, 55%)
-> Dark blue = hsl(218, 44%, 22%)

TEXT
-> Font size p = 15px
*/

body{
    margin: 0;
    max-width: 1440px;
    min-width: 375px;
    background-color: hsl(212, 45%, 89%);
}

.conteudo{
    position: relative;
    height: 20vh;
}

.container{
    width: 280px;
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 40%;
}

img{
    width: 280px;
}

.image{
    border: 20px;
    margin: auto;
}

h2{
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    text-align: center;
    width: 280px;
}

p{
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    width: 250px;
    color: hsl(220, 15%, 55%);
    margin: auto;
    padding-bottom: 20px;
}
